{% extends 'quiz/base.html' %}
{% block title %}Home{% endblock %}

{% block content %}

 <section id="home">
    <div class="hero-text">
      <h1 class="start-animation">Let's Start Quiz</h1>
      <h3>Test your skills and become a master</h3>
      <p>We organize quizzes on various topics </p>
      <p>Sign up if you haven't already and get access to millions of quizzes on various topics</p>
      <div class="d-flex justify-content-center">
        <a class="btn btn-orange align-item-center " href="register.html" role="button">Start Quiz</a>
      </div>
      <br>
      <ul>
        <li class="item">"Find out what you really Know!"</li>
          <h6>Discover Fun, Educational and Surprising quizzes across every topics.</h6>
        
        <li class="item">"Interactive Quizzes That Engage and Educate"</li>
          <h6>Challenge yourself or your audience with beautifully degined quizzes.</h6>
        
        <li class="item">"Ready to Test your Knowledge?"</li>
          <h6>Dive into hundreds of Quizzes.</h6>
        

      </ul><br>

    </div>

  </section>
{% endblock %}
